KafkaServer {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="kafka"
   password="kafka-secret"
   user_kafka="kafka-secret"
   user_c3="c3-secret"
   user_sr="sr-secret"
   user_alice="alice-secret"
   user_bob="bob-secret"
   user_chuck="chuck-secret";
};

Client {
   org.apache.zookeeper.server.auth.DigestLoginModule required
   username="kafka"
   password="kafka-secret";
};